@charset "UTF-8";

@import url("reset.css");
@import url("responsive.css");
@import url("themify-icons.css");

/*============================================================================================

CONTENTS :
        1. General
        2. Content Section
        3. Image Section
        4. Modal Section

=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
#main-container-scroller{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}
.no-space{
    margin: auto 0;
    padding-left: 0 ;
    padding-right: 0;
}
#main-container{
    min-height: 98.5vh
}
input[type="email"], input[type="text"] 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px; 
    margin-bottom: 10px;
    padding: 0 20px; 
}

